@import "tailwindcss";

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import './main-theme.css';

@import '@fontsource/major-mono-display/400.css';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where([data-mode=dark], [data-mode=dark] *));
@custom-variant mac (&:where([data-os=mac], [data-os=mac] *));
@custom-variant linux (&:where([data-os=linux], [data-os=linux] *));
@custom-variant windows (&:where([data-os=windows], [data-os=windows] *));

@source inline('{w,max-w}-{1..96}');

@theme {
    --font-major-mono-display: 'Major Mono Display', monospace;
    --font-size-2xs: 0.625rem; /* 10px */
    --line-height-2xs: 0.875rem; /* 14px */
}

@utility text-2xs {
    font-size: var(--font-size-2xs);
    line-height: var(--line-height-2xs);
}

@utility draggable {
  -webkit-app-region: drag;
}

@utility interactive {
  -webkit-app-region: no-drag;
}

@layer base {
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100vh;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary-500);
    border-radius: 100vh;
  }

  * {
    /*noinspection CssInvalidFunction*/
    scrollbar-color: light-dark(var(--color-secondary-700), var(--color-secondary-300)) transparent;
  }

  *:focus-visible {
    outline: none;
  }

  .app-card {
    /*noinspection CssInvalidFunction*/
    border: 1px solid color-mix(in oklab, light-dark(var(--color-surface-700), var(--color-surface-100)), 40% transparent);
  }

  body {
    @apply bg-transparent mac:bg-secondary-50-950/50;
  }

  ::selection {
    /*noinspection CssInvalidFunction*/
    color: light-dark(white, black);
    /*noinspection CssInvalidFunction*/
    background-color: light-dark(var(--color-secondary-800), var(--color-secondary-200));
  }
}

.custom-input {
  @apply input border-secondary-950-50/20 focus-within:border-secondary-800-200 bg-surface-50-950/50 m-0! border-2 ring-0 transition-all;
}

.custom-checkbox {
  @apply checkbox ring-0 outline-0;

  &:checked {
    /*noinspection CssInvalidFunction*/
    background-color: light-dark(var(--color-secondary-900), var(--color-secondary-100)) !important;

    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");

    &:where([data-mode=dark], [data-mode=dark] *) {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    }
  }
}

.custom-range {
  @apply input;
}

[data-mode="dark"] {
  color-scheme: dark;
}

html {
    background: transparent;
}
