@import "tailwindcss";

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import './main-theme.css';

@import '@fontsource/major-mono-display/400.css';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where([data-mode=dark], [data-mode=dark] *));
@custom-variant mac (&:where([data-os=mac], [data-os=mac] *));
@custom-variant linux (&:where([data-os=linux], [data-os=linux] *));
@custom-variant windows (&:where([data-os=windows], [data-os=windows] *));

@source inline('{w,max-w}-{1..96}');

@theme {
    --font-major-mono-display: 'Major Mono Display', monospace;
    --font-size-2xs: 0.625rem; /* 10px */
    --line-height-2xs: 0.875rem; /* 14px */
}

@utility text-2xs {
    font-size: var(--font-size-2xs);
    line-height: var(--line-height-2xs);
}

@utility draggable {
  -webkit-app-region: drag;
}

@utility interactive {
  -webkit-app-region: no-drag;
}

@layer base {
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100vh;
  }

  ::-webkit-scrollbar-thumb {
    background-color: theme('colors.primary.500');
    border-radius: 100vh;
  }

  * {
    scrollbar-color: theme('colors.primary.500') transparent;
  }

  *:focus-visible {
    outline: none;
  }

  .app-card {
    border: 1px solid color-mix(in oklab, light-dark(var(--color-surface-700), var(--color-surface-100)), 40% transparent);
  }

  body {
    @apply bg-transparent mac:bg-secondary-50-950/50;
  }
}

[data-mode="dark"] {
  color-scheme: dark;
}

html {
    background: transparent;
}
